<%- include('partials/head') %>


    <%- include('partials/navbar')%>

    <h1>The HOME PAGE<%=5+5232+4%></h1>
    <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Dolores dolor totam laborum distinctio modi. Perferendis repudiandae porro, natus commodi aut ducimus iste eligendi
          hic illo quae maxime Lorem
           ipsum dolor sit amet consectetur adipisicing elit. Placeat,
           voluptate, eum debitis 
          voluptatibus corporis nam nostrum aut, minima assumenda accusantium autem. Asperiores illum iste ut maiores voluptatibus vitae et esse.doloremque nobis eius. </p>

          <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Dolores dolor totam laborum distinctio modi. Perferendis repudiandae porro, natus commodi aut ducimus iste eligendi
             hic illo Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus perferendis eos corporis provident alias minima placeat impedit accusamus
             , inventore, aspernatur commodi culpa ut numquam quis velit laboriosam exercitationem nisi consequuntur. quae maxime doloremque nobis eius. </p>
 <%-include('partials/footer') %> 